@(loginForm: Form[(String, String)])(implicit session: play.api.mvc.Session)

@import helper._
@import helper.twitterBootstrap._
@import play.api.i18n.Messages

@main("Grito"){
	
		<fieldset>
		
		<legend>Login or <a href="/signup">Go to Sign Up.</a></legend>
		<div class="well">
		
			@form(action = routes.Application.loginTarget()){
				
				@inputText(
					loginForm("email"),
					'_label -> "Email",
					'_showConstraints -> false
					)
					
				@inputPassword(
					loginForm("password"),
					'_label -> "Password",
					'_showConstraints -> false
					)
					
				<button class="btn btn-default">Login</button>
			}
			
			</div>
		</fieldset>
	
	@loginForm.globalErrors.map{ error =>
		<div class="alert alert-error">@Messages(error.message) <a href="/">Forgot Password ?</a></div>
	}
	
}