@* signup Template File *@
@(signupForm: Form[(String, (String, String))])(flash: play.api.mvc.Flash)(implicit session: play.api.mvc.Session)

@import helper._
@import helper.twitterBootstrap._

@main("Grito"){
		
		@form(action = routes.Auth.signupPost){
			
			<fieldset>
				
			<legend>Sign Up or <a href="/login">Go to Login</a></legend>
			<div class="well">
			@inputText(
				signupForm("email"), 
				'_label -> "Email", 
				'_showConstraints -> false
				
			)
				
			@inputPassword(
				signupForm("passwords.main_password"),
				'_label -> "Password",
				'_showConstraints -> false
				
			)
			
			@inputPassword(
				signupForm("passwords.confirm_password"),
				'_label -> "Repeat Password",
				'_showConstraints -> false
				)
			
			<button class="btn btn-default">Sign Up</button>
			
			</div>
			</fieldset>
		}

		@flash.get("success").map{ message =>
			<div class="alert alert-success">@message</div>
		}

		@flash.get("failure").map{ message =>
			<div class="alert alert-success">@message</div>
		}

		@signupForm.globalErrors.map{ error =>
			<div class="alert alert-error">@Messages(error.message)</div>
		}
	
}
